{% extends 'site_layout.html.twig' %}

{% block body %}

            <section class="manage-listing padd-top-50">
                <div class="container">
                    <div class="col-md-12 col-sm-12">
                        <!-- Filter Option -->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">Sort By:</label>
                                            <div class="col-xs-9">
                                                <select class="form-control">
                                                    <option value="download_name_tag" selected="selected">Theme Name</option>
                                                    <option value="timestamp">Last Updated</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">Author:</label>
                                            <div class="col-xs-9">
                                                <select class="form-control">
                                                    <option value="download_name_tag" selected="selected">Theme Name</option>
                                                    <option value="timestamp">Last Updated</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="full-right search-wrapper">
                                    <input type="search" class="form-control" placeholder="Filter by keyword...">
                                </div>
                            </div>
                        </div>
                        <!-- End Filter Option -->

                        <!-- Start All Listing List -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="small-list-wrapper">
                                    <ul>
                                        {% for listing in listings %}
                                        <li>
                                            <div class="small-listing-box light-gray">
                                                <div class="small-list-img">
                                                    <img src="http://via.placeholder.com/80x80" class="img-responsive" alt="" />
                                                </div>
                                                <div class="small-list-detail">
                                                    <h4>
                                                        {{ listing.title }} &nbsp; &nbsp;
                                                        <span class="pull-right">
                                                            {% if listing.isactive == true %}
                                                                <i title="Active" class="fa fa-circle cl-success font-10 mrg-r-5"></i>
                                                            {% else %}
                                                                <i title="Inactive" class="fa fa-circle cl-danger font-10 mrg-r-5"></i>
                                                            {% endif %}
                                                        </span>
                                                    </h4>
                                                    <p>
                                                        <a href="#">
                                                            {% if listing.category %}{{ listing.category.title }}{% else %}-{% endif %}
                                                        </a>
                                                        | {{ listing.lastUpdatedAt | date('d-m-Y') }}
                                                    </p>
                                                </div>
                                                <div class="small-list-action">
                                                    <a href="{{ path('pro.listing.show', { id: listing.id }) }}" class="light-gray-btn btn-square cl-success" target="_blank" data-placement="top" data-toggle="tooltip" title="Preview">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    {% if listing.isactive == true %}
                                                        <a href="#" class="light-gray-btn btn-square cl-default" data-placement="top" data-toggle="tooltip" title="Preview">
                                                            <i class="fa fa-lock"></i>
                                                        </a>
                                                    {% else %}
                                                        <a href="#" class="light-gray-btn btn-square cl-default" data-placement="top" data-toggle="tooltip" title="Preview">
                                                            <i class="fa fa-unlock"></i>
                                                        </a>
                                                    {% endif %}
                                                    <a href="{{ path('pro.listing.edit', {id: listing.id}) }}" class="light-gray-btn btn-square" data-placement="top" data-toggle="tooltip" title="Edit">
                                                        <i class="ti-pencil"></i>
                                                    </a>
                                                    <a href="#" class="theme-btn btn-square" data-toggle="tooltip" title="Delete">
                                                        <i class="ti-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="card-footer">
                                    <nav aria-label="Page navigation example">
                                        {{ knp_pagination_render(listings) }}
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}