{% extends 'dashboard_layout.html.twig' %}

{% block page_name %}Catégories{% endblock %}
{% block active_page %}Catégories{% endblock %}

{% block body %}
    <div class="row bott-wid">
        <div class="col-md-12 col-sm-12">
            <div class="card">

                <div class="card-header">
                    <h4>{% if action == 'edit' %}Modifier{% elseif action == 'add' %}Ajouter{% endif%} une spécialité</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <form class="form-horizontal" method="post">
                            {{ form_start(form) }}
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="col-md-4 col-sm-5">Nom:</label>
                                    <div class="col-md-8 col-sm-7">
                                        {{ form_widget(form.name) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 col-sm-5">Tags:</label>
                                    <div class="col-md-8 col-sm-7">
                                        {{ form_widget(form.tags) }}
                                        {{ form_errors(form.tags) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 text-right">
                                        <button type="submit" class="btn theme-btn">Sauvegarder</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div id="flashbag_msg" class="col-md-12">
                                        <div class="alert alert-success">{{ flashMessage }}</div>
                                    </div>
                                {% endfor %}
                                {% for flashMessage in app.session.flashbag.get('error') %}
                                    <div id="flashbag_msg" class="col-md-12">
                                        <div class="alert alert-danger">{{ flashMessage }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                            {{ form_end(form) }}
                        </form>
                    </div>

                    <hr>

                    <br>
                    <h4>Liste des spécialités</h4>
                    <div class="row" style="margin: auto; padding: 10px;">
                        <div class="table table-responsive">
                            <table class="table table-striped table-2 table-hover">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>tags</th>
                                    <th>Annonces</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for spec in specialities %}
                                    <tr>
                                        <td> {{ spec.name }}</td>
                                        <td>{{ spec.tags }}</td>
                                        <td>{{ spec.listings | length }}</td>
                                        <td>
                                            <a href="{{ path('admin.speciality.edit', {id : spec.id }) }}" class="edit" title="" data-toggle="tooltip" data-original-title="edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="{{ path('admin.speciality.delete', {id : spec.id }) }}" class="delete ask_confirm" title="" data-toggle="tooltip" data-original-title="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
    $("#flashbag_msg").fadeIn(500).delay(6000).fadeOut(500);
});
    $("a.ask_confirm").on("click", function(e) {
    let link = this;
    e.preventDefault();
    if(confirm(" Voulez-vous vraiment supprimer cette spécialité? ")){
    window.location = link.href;
}
});
</script>
{% endblock %}